<h1>Stupid Questions</h1>

<div>
  <p>Ask your coach anything:</p>
  <p><%= @ask %></p>
  <form action="/answer" class="form-box">
    <input type="text" name="question" class="input-styling">
    <input type="submit" value="Ask!" class="input-btn">
  </form>
</div>





